|Módulo anterior|Índice|Módulo siguiente|
|-------|-----------|-----------------|
|[6.Librería NumPy](https://colab.research.google.com/github/Sergiodlgl/PyCourseADE/blob/main/6_Libreria_NumPy.ipynb)|[Introducción](https://colab.research.google.com/github/Sergiodlgl/PyCourseADE/blob/main/0_Introducción_a_Jupyter_notebooks.ipynb)|[8.Librería Matplitlib.](https://colab.research.google.com/github/Sergiodlgl/PyCourseADE/blob/main/8_Librer%C3%ADa_Matplotlib.ipynb#scrollTo=I441Jy1FWnOo)|

# MÓDULO 7: LIBRERÍA PANDAS

Pandas es una de las librerías más utilizadas en el análisis de datos con Python. Permite trabajar con estructuras de datos como Series y DataFrames, facilitando la manipulación, filtrado, limpieza y análisis de conjuntos de datos. En esta lección aprenderás a importar datos, seleccionarlos, filtrarlos y realizar operaciones CRUD.

## Sección 1: Series y DataFrames

Una Serie es una estructura unidimensional similar a una lista, y un DataFrame es una tabla bidimensional similar a una hoja de cálculo. Aquí crearemos ambos para entender cómo se construyen y manipulan.

In [ ]:
import pandas as pd

# Crear una Serie
ventas = pd.Series([100, 200, 150, 300], index=["Q1", "Q2", "Q3", "Q4"])
print("Serie de ventas por trimestre:")
print(ventas)

# Crear un DataFrame
productos = pd.DataFrame({
    "Producto": ["Portátil", "Ratón", "Monitor"],
    "Precio": [800, 20, 150],
    "Stock": [15, 300, 25]
})
print("\nDataFrame de productos:")
print(productos)

Serie de ventas por trimestre:
Q1    100
Q2    200
Q3    150
Q4    300
dtype: int64

DataFrame de productos:
   Producto  Precio  Stock
0  Portátil     800     15
1     Ratón      20    300
2   Monitor     150     25

## Sección 2: Lectura de datos desde .csv

Uno de los usos más comunes de Pandas es la lectura de archivos CSV, muy utilizados para almacenar bases de datos y registros contables. Aquí aprenderemos a importar un archivo.

In [ ]:
# Supongamos que tienes un archivo llamado 'datos_clientes.csv'
# df = pd.read_csv('datos_clientes.csv')
# print(df.head())  # Mostrar primeras filas

## Sección 3: Selección y filtrado de filas y columnas

Pandas permite seleccionar columnas específicas, acceder a filas por índice o condición y aplicar filtros fácilmente. Esta capacidad es esencial para explorar los datos y extraer información útil.

In [ ]:
# Selección de columnas
print("\nPrecios de productos:")
print(productos["Precio"])

# Filtrado por condición
productos_caros = productos[productos["Precio"] > 100]
print("\nProductos con precio > 100:")
print(productos_caros)

Precios de productos:
0    800
1     20
2    150
Name: Precio, dtype: int64

Productos con precio > 100:
   Producto  Precio  Stock
0  Portátil     800     15
2   Monitor     150     25

## Sección 4: Operaciones CRUD (Create, Read, Update, Delete)

Las operaciones CRUD (crear, leer, actualizar y eliminar) permiten modificar nuestros datos de forma efectiva. Aquí veremos ejemplos básicos para manipular un DataFrame.

In [ ]:
# CREATE - Añadir nueva fila
nuevo_producto = pd.DataFrame({"Producto": ["Teclado"], "Precio": [30], "Stock": [50]})
productos = pd.concat([productos, nuevo_producto], ignore_index=True)

# READ - Ver filas específicas
print("\nPrimera fila:")
print(productos.iloc[0])

# UPDATE - Cambiar stock del primer producto
productos.at[0, "Stock"] = 10

# DELETE - Eliminar la última fila
productos = productos.drop(index=productos.index[-1])

print("\nDataFrame actualizado:")
print(productos)

Primera fila:
Producto    Portátil
Precio           800
Stock             15
Name: 0, dtype: object

DataFrame actualizado:
   Producto  Precio  Stock
0  Portátil     800     10
1     Ratón      20    300
2   Monitor     150     25

# MÓDULO 7: EJERCICIOS

1. Crea una Serie con las ventas de 5 productos diferentes.
2. Crea un DataFrame con 3 empleados: nombre, edad y departamento.
3. Filtra los empleados que trabajen en "Marketing".
4. Añade un nuevo empleado al DataFrame.
5. Elimina al segundo empleado.

In [ ]:
# 1
ventas_prod = pd.Series([120, 300, 250, 175, 400], index=["ProdA", "ProdB", "ProdC", "ProdD", "ProdE"])
print("Serie de ventas de productos:")
print(ventas_prod)

# 2
empleados = pd.DataFrame({
    "Nombre": ["Ana", "Luis", "María"],
    "Edad": [28, 35, 40],
    "Departamento": ["Marketing", "Ventas", "Finanzas"]
})
print("\nDataFrame de empleados:")
print(empleados)

# 3
marketing = empleados[empleados["Departamento"] == "Marketing"]
print("\nEmpleados en Marketing:")
print(marketing)

# 4
nuevo_empleado = pd.DataFrame({"Nombre": ["Carlos"], "Edad": [30], "Departamento": ["Marketing"]})
empleados = pd.concat([empleados, nuevo_empleado], ignore_index=True)

# 5
empleados = empleados.drop(index=1)
print("\nEmpleados actualizados:")
print(empleados)

Serie de ventas de productos:
ProdA    120
ProdB    300
ProdC    250
ProdD    175
ProdE    400
dtype: int64

DataFrame de empleados:
  Nombre  Edad Departamento
0    Ana    28    Marketing
1   Luis    35       Ventas
2  María    40     Finanzas

Empleados en Marketing:
  Nombre  Edad Departamento
0    Ana    28    Marketing

Empleados actualizados:
   Nombre  Edad Departamento
0     Ana    28    Marketing
2   María    40     Finanzas
3  Carlos    30    Marketing

|Módulo anterior|Índice|Módulo siguiente|
|-------|-----------|-----------------|
|[6.Librería NumPy](https://colab.research.google.com/github/Sergiodlgl/PyCourseADE/blob/main/6_Libreria_NumPy.ipynb)|[Introducción](https://colab.research.google.com/github/Sergiodlgl/PyCourseADE/blob/main/0_Introducción_a_Jupyter_notebooks.ipynb)|[8.Librería Matplitlib.](https://colab.research.google.com/github/Sergiodlgl/PyCourseADE/blob/main/8_Librer%C3%ADa_Matplotlib.ipynb#scrollTo=I441Jy1FWnOo)|