|Módulo anterior|Índice|Módulo siguiente|
|-------|-----------|-----------------|
|[8.Librería Matplitlib.](https://colab.research.google.com/github/Sergiodlgl/PyCourseADE/blob/main/8_Librer%C3%ADa_Matplotlib.ipynb#scrollTo=I441Jy1FWnOo)|[Introducción](https://colab.research.google.com/github/Sergiodlgl/PyCourseADE/blob/main/0_Introducción_a_Jupyter_notebooks.ipynb)||

# MÓDULO 9: PROYECTO FINAL

## Objetivo del módulo

El propósito de este módulo es consolidar todos los conocimientos adquiridos a lo largo del curso mediante la realización de un proyecto práctico. Los estudiantes deberán crear un pequeño sistema de análisis de datos que combine entrada/salida, estructuras de datos, funciones, y visualización utilizando `NumPy`, `Pandas` y `Matplotlib`.

## Descripción del proyecto

**Proyecto: Análisis de ventas de una empresa ficticia**

Se proporcionará un archivo `.csv` con datos de ventas de una empresa, que incluirá las siguientes columnas:

* `Fecha`
* `Producto`
* `Categoría`
* `Unidades vendidas`
* `Precio unitario`
* `Ciudad`

## Tareas que debe realizar el estudiante

1. **Lectura y comprensión de los datos**

   * Cargar el archivo `.csv` usando Pandas.
   * Mostrar las primeras filas del DataFrame.
   * Identificar cuántas categorías y productos hay.

2. **Procesamiento**

   * Calcular el ingreso total por fila (`unidades * precio`).
   * Añadir una nueva columna con este cálculo.

3. **Análisis**

   * Calcular las ventas totales por categoría.
   * Calcular las ciudades con mayores ingresos.
   * Determinar el producto más vendido.

4. **Visualización**

   * Crear un gráfico de barras de ventas por categoría.
   * Crear un gráfico de líneas con ingresos mensuales.
   * Crear un histograma de precios.

5. **Extras (opcional)**

   * Permitir que el usuario filtre los datos por ciudad o categoría usando `input()`.
   * Guardar los resultados del análisis en un archivo `.json`.

## Entregable

Este notebook añadiendo en la siguiente siguiente sección las siguientes cuestiones:

* Nombre y apellidos del alumno.
* Código comentado.
* Visualizaciones limpias.
* Análisis interpretativo escrito por el estudiante.

# MÓDULO 9: RESULTADOS

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

url = "https://raw.githubusercontent.com/Sergiodlgl/PyCourseADE/main/data/productos_pf.csv"

df = pd.read_csv(url)

In [6]:
df["ciudad"]

0          Toledo
1       La Coruña
2       Salamanca
3        Alicante
4         Almería
          ...
995      Valencia
996         Palma
997       Logroño
998       Granada
999    Valladolid
Name: ciudad, Length: 1000, dtype: object

In [17]:
duplicados = df.duplicated(subset=['fecha', 'producto', 'ciudad'], keep=False)

In [19]:
duplicados

0      False
1       True
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [23]:
df

,fecha,producto,categoria,unidades_vendidas,precio_unitario,ciudad
0,27/02/2025,pantalones,accesorios,5,191.86,Toledo
1,16/03/2025,sudadera,ropa,29,167.57,La Coruña
2,09/01/2025,pantalones,accesorios,2,298.69,Salamanca
3,05/02/2025,zapatillas deportivas,calzado,88,183.14,Alicante
4,18/01/2025,sudadera,ropa,62,263.41,Almería
...,...,...,...,...,...,...
995,03/01/2025,camiseta,ropa,60,123.48,Valencia
996,10/02/2025,pantalones,accesorios,73,192.13,Palma
997,10/01/2025,reloj,accesorios,63,167.39,Logroño
998,05/02/2025,bolso,accesorios,16,299.75,Granada
999,28/01/2025,zapatillas casual,calzado,99,192.92,Valladolid